<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>臺北市颱風災害即時資訊</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/vue-resource.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="img/logo.png" id="logo">
                <a class="navbar-brand" href="#">臺北市颱風災害即時資訊</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">最新消息</a></li>
                    <li><a href="#">防災相關</a></li>
                    <li><a href="#">錯誤回報</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">列表 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">地圖</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <!--
		         <h1 class="page-header">Dashboard</h1>
		          <div class="row placeholders">
		            <div class="col-xs-6 col-sm-3 placeholder">
		              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
		              <h4>Label</h4>
		              <span class="text-muted">Something else</span>
		            </div>
		          </div>
		          -->
                <h2 class="sub-header">最新消息(列表版)</h2>
                <div class="table-responsive" id="list">
                	<div class="pagination">
                        <ul>
	                        <li @click.prevent="setPage(currPage-1)">
	                        	<input type="button" value="Prev" v-bind:class="{'disabled': (currPage === 1)}">
	                        </li>
	                        <li>
	                        	<input type="text" id="keyPage" value="{{currPage}}" v-model.lazy="keyInPage"> / {{pageNum}} 頁
	                        </li>
	                        <li @click.prevent="setPage(currPage+1)">
	                        	<input type="button" value="Next" v-bind:class="{'disabled': (currPage === totalPage)}">
	                        </li>
                        </ul>
                    </div><br>
                    區域：
                    <select name="" v-model="area">
                        <option value="全部">全部</option>
                        <option value="萬華區">萬華區</option>
                        <option value="中正區">中正區</option>
                        <option value="大同區">大同區</option>
                        <option value="中山區">中山區</option>
                        <option value="大安區">大安區</option>
                        <option value="南港區">南港區</option>
                        <option value="文山區">文山區</option>
                        <option value="松山區">松山區</option>
                        <option value="信義區">信義區</option>
                        <option value="士林區">士林區</option>
                        <option value="北投區">北投區</option>
                        <option value="內湖區">內湖區</option>
                        <option value="其他">其他</option>
                    </select>
                    <table class="table table-striped" >
                        <thead>
                            <tr>
                                <th>災害專案名稱</th>
                                <th>發生時間</th>
                                <th>行政區</th>
                                <th>災情種類大項名稱</th>
                                <th>災情種類細項名稱</th>
                                <th>災情地點</th>
                                <th>災情描述</th>
                                <th>是否處理完畢</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for='data in disasterData' v-show="filterArea(data)">
                                <td>{{data.DPName}}</td>
                                <td>{{data.CaseTime}}</td>
                                <td>{{data.CaseLocationDistrict}}</td>
                                <td>{{data.PName}}</td>
                                <td>{{data.Name}}</td>
                                <td>{{data.CaseLocationDescription}}</td>
                                <td>{{data.CaseDescription}}</td>
                                <td v-if="data.CaseComplete == 'true'">是</td>
                            	<td v-else>否</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
	<script src="js/getData.js"></script>
</body>

</html>